
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

label {
    display: inline-block;
    margin-bottom: 0.1rem;
}

.responsive {
    width: 100%;
    height: auto;
}

.min200 {
    min-width: 200px;
    align-content: inherit;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.straight100 {
    width: 100px !important;
}
